In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [2]:
df = pd.read_excel('data.xlsx')

In [3]:
df.head()

                           test  class
0             I love Bangladesh      1
1  Could you give me an iphone?      0
2            Hello how are you?      1
3           I want to talk you.      1

# Count Vectorizer

In [4]:
cv = CountVectorizer()

In [5]:
x = cv.fit_transform(df['test'])

In [6]:
x

<4x14 sparse matrix of type '<class 'numpy.int64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [7]:
x.toarray()

array([[0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1],
       [0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1]], dtype=int64)

In [8]:
df.head()

                           test  class
0             I love Bangladesh      1
1  Could you give me an iphone?      0
2            Hello how are you?      1
3           I want to talk you.      1

In [9]:
df3 = df.copy()

In [10]:
df2 = pd.DataFrame(x.toarray(), index=df['test'], columns=cv.get_feature_names())

In [11]:
df2.head()

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
test,,,,,,,,,,,,,,
I love Bangladesh,0,0,1,0,0,0,0,0,1,0,0,0,0,0
Could you give me an iphone?,1,0,0,1,1,0,0,1,0,1,0,0,0,1
Hello how are you?,0,1,0,0,0,1,1,0,0,0,0,0,0,1
I want to talk you.,0,0,0,0,0,0,0,0,0,0,1,1,1,1

In [12]:
columns=cv.get_feature_names()

In [13]:
columns

['an',
 'are',
 'bangladesh',
 'could',
 'give',
 'hello',
 'how',
 'iphone',
 'love',
 'me',
 'talk',
 'to',
 'want',
 'you']

# TF-IDF vectorizer

In [14]:
idf = TfidfVectorizer()

In [15]:
x = idf.fit_transform(df3['test'])

In [16]:
x.toarray()

array([[0.        , 0.        , 0.70710678, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.70710678, 0.        ,
        0.        , 0.        , 0.        , 0.        ],
       [0.43003652, 0.        , 0.        , 0.43003652, 0.43003652,
        0.        , 0.        , 0.43003652, 0.        , 0.43003652,
        0.        , 0.        , 0.        , 0.27448674],
       [0.        , 0.5417361 , 0.        , 0.        , 0.        ,
        0.5417361 , 0.5417361 , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.34578314],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.5417361 , 0.5417361 , 0.5417361 , 0.34578314]])

In [17]:
df4 = pd.DataFrame(x.toarray(),index=df['test'],columns=idf.get_feature_names())

In [18]:
df4.head()

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
test,,,,,,,,,,,,,,
I love Bangladesh,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000
Could you give me an iphone?,0.430037,0.000000,0.000000,0.430037,0.430037,0.000000,0.000000,0.430037,0.000000,0.430037,0.000000,0.000000,0.000000,0.274487
Hello how are you?,0.000000,0.541736,0.000000,0.000000,0.000000,0.541736,0.541736,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.345783
I want to talk you.,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.541736,0.541736,0.541736,0.345783

# Word2Vec

In [19]:
!pip install gensim

Requirement already satisfied: gensim in c:\users\my laptop\appdata\local\programs\python\python310\lib\site-packages (4.3.0)
Requirement already satisfied: numpy>=1.18.5 in c:\users\my laptop\appdata\local\programs\python\python310\lib\site-packages (from gensim) (1.23.1)
Requirement already satisfied: scipy>=1.7.0 in c:\users\my laptop\appdata\local\programs\python\python310\lib\site-packages (from gensim) (1.8.1)
Requirement already satisfied: smart-open>=1.8.1 in c:\users\my laptop\appdata\local\programs\python\python310\lib\site-packages (from gensim) (6.3.0)
Requirement already satisfied: FuzzyTM>=0.4.0 in c:\users\my laptop\appdata\local\programs\python\python310\lib\site-packages (from gensim) (2.0.5)
Requirement already satisfied: Cython==0.29.32 in c:\users\my laptop\appdata\local\programs\python\python310\lib\site-packages (from gensim) (0.29.32)
Requirement already satisfied: pandas in c:\users\my laptop\appdata\local\programs\python\python310\lib\site-packages (from FuzzyTM>=0.4.0->gensim) (1.4.3)
Requirement already satisfied: pyfume in c:\users\my laptop\appdata\local\programs\python\python310\lib\site-packages (from FuzzyTM>=0.4.0->gensim) (0.2.25)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\my laptop\appdata\local\programs\python\python310\lib\site-packages (from pandas->FuzzyTM>=0.4.0->gensim) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\my laptop\appdata\local\programs\python\python310\lib\site-packages (from pandas->FuzzyTM>=0.4.0->gensim) (2022.1)
Requirement already satisfied: simpful in c:\users\my laptop\appdata\local\programs\python\python310\lib\site-packages (from pyfume->FuzzyTM>=0.4.0->gensim) (2.9.0)
Requirement already satisfied: fst-pso in c:\users\my laptop\appdata\local\programs\python\python310\lib\site-packages (from pyfume->FuzzyTM>=0.4.0->gensim) (1.8.1)
Requirement already satisfied: six>=1.5 in c:\users\my laptop\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas->FuzzyTM>=0.4.0->gensim) (1.16.0)
Requirement already satisfied: miniful in c:\users\my laptop\appdata\local\programs\python\python310\lib\site-packages (from fst-pso->pyfume->FuzzyTM>=0.4.0->gensim) (0.0.6)
Requirement already satisfied: requests in c:\users\my laptop\appdata\local\programs\python\python310\lib\site-packages (from simpful->pyfume->FuzzyTM>=0.4.0->gensim) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\my laptop\appdata\local\programs\python\python310\lib\site-packages (from requests->simpful->pyfume->FuzzyTM>=0.4.0->gensim) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\my laptop\appdata\local\programs\python\python310\lib\site-packages (from requests->simpful->pyfume->FuzzyTM>=0.4.0->gensim) (2022.5.18.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\my laptop\appdata\local\programs\python\python310\lib\site-packages (from requests->simpful->pyfume->FuzzyTM>=0.4.0->gensim) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in c:\users\my laptop\appdata\local\programs\python\python310\lib\site-packages (from requests->simpful->pyfume->FuzzyTM>=0.4.0->gensim) (3.3)

In [23]:
import gensim
from gensim.models import Word2Vec
import nltk

In [24]:
from nltk.tokenize import word_tokenize

In [25]:
text_vsc = [nltk.word_tokenize(test) for test in df['test']]

In [26]:
text_vsc

[['I', 'love', 'Bangladesh'],
 ['Could', 'you', 'give', 'me', 'an', 'iphone', '?'],
 ['Hello', 'how', 'are', 'you', '?'],
 ['I', 'want', 'to', 'talk', 'you', '.']]

In [34]:
text = []

In [35]:
for test in df['test']:
    text.append(nltk.word_tokenize(test))

In [36]:
text

[['I', 'love', 'Bangladesh'],
 ['Could', 'you', 'give', 'me', 'an', 'iphone', '?'],
 ['Hello', 'how', 'are', 'you', '?'],
 ['I', 'want', 'to', 'talk', 'you', '.']]

In [37]:
model = Word2Vec(text,min_count=1)

In [40]:
model.wv.most_similar('Hello')

[('?', 0.17272651195526123),
 ('Bangladesh', 0.16695065796375275),
 ('give', 0.11118055880069733),
 ('talk', 0.10947782546281815),
 ('you', 0.07967711985111237),
 ('an', 0.04130832105875015),
 ('me', 0.037714049220085144),
 ('to', 0.0132435392588377),
 ('I', 0.008316040970385075),
 ('love', -0.005900950636714697)]